version: "3.9"
services:
  database:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespw
    volumes:
      - ./database/pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'
